<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.patrickkahl.vimawesome</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>D6D79562-5626-4497-AA0A-A4D0C72474E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F778124-8A96-4E07-A38C-8BB74D683153</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B592090F-7340-4F02-A35B-B1FB1883BBFE</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Kahl</string>
	<key>description</key>
	<string>Search vim plugins from vimawesome
&gt; Search vim plugins from vimawesome
Search vim plugins from vimawesome</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>vimawesome</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5F778124-8A96-4E07-A38C-8BB74D683153</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>103</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search vim plugins from vimawesome</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D6D79562-5626-4497-AA0A-A4D0C72474E5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B592090F-7340-4F02-A35B-B1FB1883BBFE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-vimawesome

&gt; Search vim plugins from vimawesome


## Install

```
$ npm install --global alfred-vimawesome
```

*Requires [Node.js](https://nodejs.org) 4+ and the Alfred [Powerpack](https://www.alfredapp.com/powerpack/).*


## Usage

In Alfred, type `vim` and your query.
Normal action `enter ⌅` opens github plugin url in your default browser.
On pressing `ctrl ⌃ + enter ⌅` copy `author/pluginname` to clipboard.


## License

MIT © [Patrick Kahl](https://github.com/patrickkahl)</string>
	<key>uidata</key>
	<dict>
		<key>5F778124-8A96-4E07-A38C-8BB74D683153</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>B592090F-7340-4F02-A35B-B1FB1883BBFE</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>D6D79562-5626-4497-AA0A-A4D0C72474E5</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/patrickkahl/alfred-vimawesome</string>
</dict>
</plist>
